<%-include('partials/header')-%>
<div class="details">
  <div class="row">
    <div class="col-lg-6">
      <div class="info">
        <h1 style="margin: 0 0 10px 20px;">USER DETAILS</h1>      
        <ul type="none">
          <% udetails.forEach(function(User){ %>
          <li><h4>Name: <%=User.name%></h4></li>
          <li><h4>Email: <%=User.email%></h4></li>
          <li><h4>Gender: <%=User.gender%></h4></li>
          <li><h4>Username: <%=User.username%></h4></li>
        </ul>
        <% }) %>
        <div style="margin-top: 20px;">
          <a href="/reset-password"><button>Reset Password</button></a>
          <a href="/logout"><button>Logout</button></a>
        </div>
      </div>  
    </div>
  </div>  
</div>
<%- include('partials/footer') -%>
